streamlit
rawpy
opencv-python
mediapipe
torch
torchvision
requests
rembg
onnxruntime
streamlit-drawable-canvas
diffusers
clip
insightface
exifread
diffusers
transformers
accelerate
ftfy
regex
git+https://github.com/openai/CLIP.git

